<template>
  <ul class="menu">
    <li><a href="#info">information</a></li>
    <li><a href="#works">works</a></li>
    <li><a href="#contact">contact</a></li>
  </ul>
</template>

<script>
</script>

<style>
ul{
	list-style: none;
	padding-left: 0;
}
ul li{
	text-align: center;
	background-color:rgba(255,0,0,0.25);
	-webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
ul li a{
	width: 100%;
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 50px;
}
ul li:hover{
	background: #ffff00;
  opacity: 0.5;
}
ul.menu{
	display: table;
	table-layout: fixed;
	width:100%;
}

ul.menu li{
	width: 20%;
	display: table-cell;
	vertical-align: middle;
}
.menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

</style>